<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品自动化平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body role="document">
<!-- 导航栏 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="/logout/">注销</a></li>
        </ul>
    </div>
</nav>

<!-- 产品列表 -->
<div style="padding-top: 10px" class="row justify-content-center">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <th>序号</th>
            <th>产品名称</th>
            <th>产品描述</th>
            <th>产品负责人</th>
            <th>创建时间</th>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_description }}</td>
            <td>{{ product.producter }}</td>
            <td>{{ product.create_time }}</td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>
</div>
</body>
</html>