<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<ul>
    <li>欢迎您，<a href="#">{{ user }}</a></li>
    <li><a href="/logout/">注销</a></li>
</ul>

</body>
</html>