<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center">
<h1>登录</h1>
<form action="/login/" method="post">
    {% csrf_token %}
{#    <div class="form-group">#}
{#        <label for="username">用户名</label>#}
{#        <input type="text" class="form-control" id="username" name="username" required>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="password">用户名</label>#}
{#        <input type="password" class="form-control" id="password" name="password" required>#}
{#    </div>#}
{#    {{ error }}<br>#}
{#    <button type="submit" class="btn btn-default">登录</button>#}
    <br><label for="username">&nbsp;&nbsp;用户名：</label> <input id="username" name="username" type="text" placeholder="请输入用户名...">
    <br><br><label for="password">&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input id="password" name="password" type="password" placeholder="请输入密码...">
    <br><span style="color: red">{{ error }}</span><br>&nbsp;
    <button style="width: 234px; height: 28px;" id="submit" type="submit">登 录</button>
</form>
</div>
</body>
</html>